.fontWeight {
  font-weight: 700 !important;
  div {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.btn-text {
  text-decoration: none;
  color: #000000;
  transition: color 0.15s;
  &:hover {
    color: #e7af06 !important;
  }
}

.btn-color-primary {
  background-color: #e55170 !important;
  color: #efefef !important;

  &:hover {
    background-color: #d34e6a !important;
  }
}
.btn-table{
  background: transparent;
  padding: 0 !important;
  border: 0;
  color: #e55170 !important;
  &:hover{
    color: #d34e6a !important;
  }
}

.btn{
  &:focus {
    box-shadow: none !important;
  }
}
