* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2fa !important;
  color: #000000 !important;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

